body {
    font-family:sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background: rgb(151, 151, 151);
}

.board {
    margin:10px auto;
    position: relative;
    overflow: hidden;
    width: 1000px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border-radius: 5px;
    gap: 10px;
    padding: 1rem;
}

@media(max-width: 1000px){
    .board{
        width: 600px;
        height: 750px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
}

@media(max-height: 900px){
    .board{
        width: 1555px;
        height: 300px;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

.game-tile {
    cursor: pointer;
    background: black;
    background-image: url("images/backtile-main.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
}

.game-tile:hover {
    background-color:brown;
    background-image: url("images/backtile-hover.png");
}

button {
    display: block;
    max-width: 20em;
    text-align: center;
    padding: 1.3em 3em;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    margin: 1em auto;
    background: black;
    border-radius: 3em;
    border:0;
    cursor: pointer;
}
button:hover{
    background-color: brown;
    color: black;
}